.about-course-main {
    display: flex;
    justify-content: space-between;
}

.about-course-main-paragraph {
    max-width: 55%;
}

.about-course-videograph {
    width: 25%;
    min-width: 250px;
}

.about-course-continuity {
    display: flex;
    margin-top: 4%;
    align-items: center;
}

.about-course-videograph2 {
    width: 15%;
    margin-right: 7%;
}

.about-course-continuity-items {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.continuity-item {
    min-width: fit-content;
    margin-right: 5%;
}

.continuity-item h3 {
    margin: 0;
    font-weight: 700;
}

@media (max-width: 991px) {
    .about-course-videograph2 {
        display: none;
    }

    .about-course-continuity-items {
        flex-direction: column;
    }

    .about-course-main {
        flex-direction: column;
    }

    .about-course-main-paragraph {
        max-width: 100%;
    }
}
