.course-pricing {
    background-color: #9dc9c8;
    overflow: auto;
    padding-bottom: 10%;
}

.course-pricing-price {
    margin-bottom: 0;
}

.course-pricing-price-value {
    margin-top: -5px;
}

.course-pricing-text {
    display: flex;
}

.course-pricing-information {
    width: 25%;
    margin-right: 5%;
}

.course-pricing-information-title {
    margin: 0;
}

.course-pricing-information-content {
    margin-top: 5%;
}


@media (max-width:700px) {
    .course-pricing-information {
        width: 50%;
        
    }
    
}