.customer-satisfaction {
    background-color: #efefef;
    overflow: auto;
    padding-bottom: 8%;
}

.customer-satisification-card {
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5%;
    width: 55%;
}

.customer-satisification-text {
    margin: 0;
}

.customer-info {
    display: flex;
    margin-top: 5%;
}

.customer-info img {
    width: 20%;
}

.customer-name {
    font-family: Roboto Slab;
    font-weight: 700;
    margin-bottom: 6%;
    margin-top: 15%;
}

@media (min-width: 992px) and (max-width: 1279px) {
    .customer-satisification-card {
        width: 70%;
    }
}

@media (max-width: 991px) {
    .customer-satisification-card {
        min-width: 200px;
    }
}
