@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    margin: 0;
}

body > * {
    padding-inline: 8%;
    font-family: "Roboto";
}

.logoHeader {
    width: 7.7%;
    margin-bottom: 7%;
}

h1.big-title {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 0;
}

h2.title {
    font-family: "Roboto Slab", serif;
    font-size: 55px;
    font-weight: 700;
    margin-top: 10%;
}

footer {
    padding: 0;
}

footer > * {
    padding-inline: 8%;
    font-family: "Roboto";
}

.small-font {
    font-size: 18px;
}

.smaller-font {
    font-size: 20px;
}

.medium-font {
    font-size: 25px;
}

.big-font {
    font-size: 30px;
}

.very-big-font {
    font-size: 55px;
}

.extra-big-font {
    font-size: 80px;
}

@media (max-width: 991px) {
    .small-font {
        font-size: 10px;
    }

    .smaller-font {
        font-size: 11px;
    }

    .medium-font {
        font-size: 12px;
    }

    .big-font {
        font-size: 13px;
    }

    .extra-big-font {
        font-size: 40px;
    }

    h2.title {
        font-size: 26px;
    }

    h1.big-title {
        font-size: 40px;
    }
}
